.infos {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 30vh;
  padding: 1rem;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding-left: 5vh;
  padding-right: 5vh;
}

.infos__container {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 40vh;
  gap: 1rem;
  margin-top: 3vh;
}

.infos__text {
  color: var(--primary-color);
}
