.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: var(--background-color);
  position: fixed;
}

.navbar__links {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 48px;
}

.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 48px;
  padding-right: 1050px;

  color: var(--text-color);
}

.navbar__logo img {
  height: 100%;
  max-height: 60px;
  object-fit: contain;
  margin-left: 20px;
}
